127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ m1 }} k8s-master1 
{{ m2 }} k8s-master2 
{{ m3 }} k8s-master3 
{{ n1 }} k8s-node1   
{{ n2 }} k8s-node2
